body {
    margin: 0;
    background-color: #32071C;
}

html, body {
    overflow-x: hidden;
}

.GroundContainer {
    width: 100%;
}

.ForegroundRocks, .BackgroundRocks, .TopClouds, .BottomClouds, .Mountains {
    width: 100%;
    height: auto;
    color: #32071C;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    will-change: transform;
}

.Foreground {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 25;
    position: relative;
    overflow: clip;
    margin: 0;
    padding: 0;
    display: block;
}

.ForegroundRocks {
    z-index: 2;
}

.BackgroundRocks {
    z-index: 1;
}

.Skyscape {
    z-index: -3;
    background: linear-gradient(to bottom, #D094BE, #FF9479, #FF5050);
    width: 100%;
    height: 100%;
    position: absolute;
}

.TopClouds {
    z-index: 0;
    overflow: hidden;
}

.BottomClouds {
    z-index: -1;
    overflow: hidden;
}

.Mountains {
    z-index: -2;
}

.ContentContainer {
    height: 3500px;
    width: 100%;
    background: linear-gradient(to bottom, #32071C, #5f1c78);
    z-index: 200;
    position: relative;
    display: flex;
    justify-content: center;
}

.Topbar {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
}

@keyframes bgColorShift {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

.ScrollDownLabel {
    font-weight: 900;
    font-family: Comfortaa;
    color: white;
    font-size: 3.25vw;
    margin-bottom: 10px;
}

.ArrowDown {
    width: 2.5vw;
    height: auto;
    animation: bgColorShift 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}



/*


All styles below are only for ContentContainer child elements


*/



.CodeLabel {
    margin-top: 0;
    color: white;
    font-family: Poppins;
    font-weight: 700;
    font-size: 8vw;
}

.IntroLabel {
    margin-top: 0;
    margin-left: 1vw;
    color: rgb(148, 198, 255);
    font-family: Poppins;
    font-weight: 700;
    font-size: 8vw;
}