body,
html {
    background-color: rgb(10, 15, 14);
    margin: 0;
    overflow-x: hidden;
}

a {
    color: #b8e986;
    font-size: 1.3vw;
}

body::-webkit-scrollbar {
    width: 0.4vw;
}

body::-webkit-scrollbar-track {
    background: rgb(10, 15, 14);
}

body::-webkit-scrollbar-thumb {
    background: rgb(212, 233, 229);
    border-radius: 1vw;
}

body::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 233, 229);
}

.top-nav {
    background-color: rgba(10, 15, 14, 1);
    width: 100%;
    height: 4vw;
    opacity: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding-top: 3vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    margin-bottom: 3vw;
    transition: height 0.35s ease;
    z-index: 100;
}

.top-nav.scrolled {
    height: 1vw;
}

.fake-top-nav {
    width: 100%;
    height: 3vw;
    padding-top: 3vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    margin-bottom: 3vw;
}

.top-nav-button-container {
    height: 1vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.top-nav-button-content-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 1vw;
}

.top-nav-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0.5vw 1vw;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    margin: 0.1vw 0.1vw;
    cursor: pointer;
    border-radius: 0.5vw;
    transition: padding-bottom 0.25s ease;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    padding-bottom: 0vw;
    border: none;
}

.top-nav-button.selected {
    padding-bottom: 1vw;
    border: rgba(255, 255, 255, 0.4) solid 0.1vw;
}

.line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.line {
    background-color: rgb(80, 82, 87);
    width: 80%;
    height: 0.05vw;
}

.top-nav-header-container {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.top-nav-header {
    font-family: "Poppins", sans-serif;
    font-size: 7vw;
    font-weight: 700;
    font-style: normal;
    color: white;
    text-align: right;
    margin: 0;
    margin-bottom: 1vw;
}

.section-heading {
    font-family: "Poppins", sans-serif;
    font-size: 5vw;
    font-weight: 600;
    font-style: normal;
    color: rgb(226, 219, 219);
    text-align: left;
    margin: 0;
}

.section-text {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    font-style: normal;
    color: rgb(205, 199, 199);
    text-align: left;
    margin: 0;
    margin-bottom: 1vw;
}

.section-text-key-word {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;
    color: rgb(232, 226, 226);
    text-align: left;
    margin: 0;
}

.section-dot-container {
    margin-left: 2vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.section-dot-container-header, .section-dot-container-header-dim, .section-dot-container-header-dim-small {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    font-style: normal;
    color: rgb(245, 242, 242);
    text-align: left;
    margin: 0;
}

.section-dot-container-header-dim {
    color: rgb(172, 167, 167);
}

.section-dot-container-header-dim-small {
    font-size: 1vw;
}

.section-dot-container-description {
    font-family: "Poppins", sans-serif;
    font-size: 1.35vw;
    font-weight: 300;
    font-style: normal;
    color: rgb(209, 204, 204);
    text-align: left;
    margin: 0;
    margin-bottom: 1vw;
}

.section-dot-container-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    animation-timeline: view();
    animation-range: entry 0;
}

.section-dot-content-image {
    height: 6vw;
    width: auto;
    margin-right: 1.5vw;
}

.plating-text {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    font-style: normal;
    color: rgb(205, 199, 199);
    text-align: left;
    margin: 0;
    width: 60%;
    margin-left: 10%;
}

.plating-text-no-margin {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    font-style: normal;
    color: rgb(205, 199, 199);
    text-align: left;
    margin: 0;
    width: 100%;
}

.plate {
    font-size: 4vw;
    font-weight: 600;
    color: rgb(235, 235, 235);
}

.plate-small {
    font-size: 2.5vw;
    font-weight: 500;
    color: rgb(224, 221, 221);
}

.important-plate {
    font-size: 4vw;
    font-weight: 800;
    color: rgb(124, 179, 148);
}

.quick-info-section {
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vw;
    margin-bottom: 4vw;
}

.quick-info-section-bar, .contact-info-section-bar {
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear ease;
}

.quick-info-sector {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.quick-info-description {
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    font-weight: 500;
    font-style: normal;
    color: rgb(205, 199, 199);
    text-align: left;
    margin: 0;
}

.quick-info-header, .contact-info-header, .contact-info-header-lower {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    font-style: normal;
    color: rgb(158, 153, 153);
    text-align: left;
    margin: 0;
}

.contact-info-header-lower {
    font-size: 1vw;
    font-weight: 200;
    color: rgb(137, 133, 133);
}

.about-section, .why-me-section, .work-section, .contact-section {
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

.work-section-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 8vw;
}

.work-section-content-main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.work-section-image {
    transform: translate(0, 0) rotateY(0deg);
    transition: transform 0.1s ease-out;
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    height: 25vw;
    width: auto;
    animation: pulse 1s infinite alternate;
}

.work-section-video, .work-section-video-large {
    transform: translate(0, 0) rotateY(0deg);
    transition: transform 0.1s ease-out;
    box-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
    border-radius: 1vw;
    flex: 1;
    height: auto;
    width: 18vw;
    margin-top: 3vw;
    animation: pulse 1s infinite alternate;
}

.work-section-video-large {
    width: 26vw;
    margin-left: 2vw;
    margin-right: 2vw;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 1vw rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 1.6vw rgba(153, 151, 151, 0.8);
    }
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

.work-section-content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 3;
}

.work-section-content-container-image, .work-section-content-container-video {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
    margin-right: 5vw;
}

.work-section-content-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 5vw;
}

.work-section-content-header {
    font-family: "Poppins", sans-serif;
    font-size: 3vw;
    font-weight: 500;
    font-style: normal;
    color: rgb(227, 221, 221);
    text-align: left;
    margin: 0;
}

.work-section-content-description {
    font-family: "Poppins", sans-serif;
    font-size: 1.5vw;
    font-weight: 300;
    font-style: normal;
    color: rgb(197, 192, 192);
    text-align: left;
    margin: 0;
    margin-bottom: 1vw;
}

.work-section-video-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 12vw;
}

.work-section-row-coloumn-showcase {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.work-section-row-coloumn-showcase-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    margin-bottom: 4vw;
}

.work-section-row-coloumn-showcase-text-container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5vw;
    background-color: #1e1e1e;
    padding: 0.1vw;
    border-radius: 0.1vw;
    white-space: pre-wrap;
    line-height: 1.4;
    color: #d4d4d4;
    overflow-x: auto;
    margin: 0;
}

pre.code {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2vw;
    background-color: #1e1e1e;
    padding: 0.1vw;
    border-radius: 0.1vw;
    white-space: pre-wrap;
    line-height: 1.4;
    color: #d4d4d4;
    overflow-x: auto;
    margin: 0;
}

pre.code code {
    display: block;
    white-space: pre;
    padding: 0;
    margin: 0;
    background-color: inherit;
    border: none;
    line-height: inherit;
    font-size: inherit;
}

.keyword-local {
    color: #e69a2a;
}

.keyword-print {
    color: #d55e9d;
}

.function-name {
    color: #4db8ff;
}

.number {
    color: #b8e986;
}

.boolean {
    color: #ff935d;
}

.string {
    color: #c490e4;
}

.contact-button {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 0.5vw 2vw;
    text-align: center;
    display: inline-block;
    font-size: 1vw;
    margin: 0.1vw 0.1vw;
    cursor: pointer;
    border-radius: 0.75vw;
    transition: padding-bottom 0.25s ease;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border: rgba(255, 255, 255, 0.5) solid 0.1vw;;
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.contact-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.contact-image, .contact-image-medium, .contact-image-small {
    width: 3vw;
    margin-right: 1vw;
}

.contact-image-medium {
    width: 5vw;
    margin-right: 0;
}

.contact-image-small {
    width: 2.2vw;
}

.contact-info-sector-split {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.contact-info-sector {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 1vw;
    margin-right: 1vw;
}

.bottom {
    background-color: rgb(7, 10, 8);
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.bottom-text, .bottom-text-bold {
    font-family: "Poppins", sans-serif;
    font-size: 1vw;
    font-weight: 200;
    font-style: normal;
    color: rgb(197, 192, 192);
    margin: 0;
}

.bottom-text-bold {
    font-size: 1.2vw;
    font-weight: 400;
}