body {
    margin: 0;
    background-color: #32071C;
}


html, body {
    overflow-x: hidden;
    overscroll-behavior: none;
}

a {
    text-decoration: none;
}

.foreground-container {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.foreground-cliff-1, .foreground-cliff-2, .top-cloud-container, .bottom-cloud-container {
    width: 100%;
    height: auto;
    color: #32071C;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    will-change: transform;
}

.foreground-trees {
    width: 100%;
    height: auto;
    z-index: 25;
    position: relative;
    overflow: clip;
    margin: 0;
    padding: 0;
    display: block;
    margin-top: 10vw;
}

@keyframes lantern-glow {
    0% {
        box-shadow: 0 0 11vw 3.2vw #ffc97e;
    }
    100% {
        box-shadow: 0 0 13vw 3.8vw #ffcf8b;
    }
}

.cave-lantern-light {
    position: absolute;
    z-index: 40;
    left: 36.5vw;
    top: 117.5vw;
    box-shadow: 0 0 13vw 3.8vw #ffc97e;
    animation: lantern-glow 1.5s infinite alternate ease-in-out;
}

.cave-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    overflow: hidden;
    clip-path: inset(0 0 0 0);
    margin-top: -1vw;
}

.cave-foreground-2, .cave-middleground-1, .cave-middleground-2, .cave-background-1, .cave-background-2 {
    height: auto;
    position: absolute;
}

.cave-foreground-1 {
    width: 100%;
    height: auto;
    z-index: 50;
    overflow: clip;
    margin: 0;
    padding: 0;
    display: block;
}

.cave-foreground-2 {
    z-index: 35;
    width: 97%;
}

.cave-middleground-1 {
    z-index: 34;
    width: 95%;
}

.cave-middleground-2 {
    z-index: 33;
    width: 92%;
}

.cave-background-1 {
    z-index: 32;
    width: 89%;
}

.cave-background-2 {
    z-index: 31;
    width: 86%;
}

.sun-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vw;
    width: 100%;
}

@keyframes sun-glow {
    0% {
        box-shadow: 0 0 15vw 5vw #ffdba9;
    }
    100% {
        box-shadow: 0 0 20vw 7vw #ffd69c;
    }
}

.sun {
    z-index: -25;
    position: absolute;
    border-radius: 50%;
    width: 14vw;
    height: 14vw;
    background: linear-gradient(to bottom, #fff8ed, #ffdba9);
    will-change: transform;
    box-shadow: 0 0 20vw 7vw #ffd69c;
    animation: sun-glow 1.5s infinite alternate ease-in-out;
}

.foreground-cliff-1 {
    z-index: -2;
}

.foreground-cliff-2 {
    z-index: -1;
}

.skyscape-fallback {
    z-index: -51;
    background: #D094BE;
    width: 100%;
    height: 100%;
    position: absolute;
}

.skyscape {
    z-index: -50;
    background: linear-gradient(to bottom, #D094BE, #FF9479, #FF5050);
    width: 100%;
    height: 70vw;
    position: absolute;
}

.top-cloud-container {
    opacity: 1;
    z-index: -4;
    width: 100%;
    height: 10vw;
}

.bottom-cloud-container {
    z-index: -3;
    width: 100%;
    height: 10vw;
}

.cloud-1, .cloud-2, .cloud-3, .cloud-4, .cloud-5 {
    height: auto;
    width: 14vw;
    position: absolute;
}

.cloud-1 {
    left: 25vw;
    top: 4vw;
}

.cloud-2 {
    width: 22vw;
    left: 2vw;
    top: 5vw;
}

.cloud-3 {
    width: 7vw;
    right: 14vw;
    top: 4vw;
}

.cloud-4 {
    width: 22vw;
    left: 21vw;
    top: 17vw;
}

.cloud-5 {
    width: 14vw;
    right: 1vw;
    top: 7vw;
}

.foreground-mountains-1-container, .foreground-mountains-2-container, .middleground-mountains-1-container,
.middleground-mountains-2-container, .background-mountains-1-container, .background-mountains-2-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120vw;
    width: 100%;
}

.foreground-mountains-1-container {
    z-index: -5;
    height: 120vw;
}

.foreground-mountains-2-container {
    z-index: -6;
    height: 110vw;
}

.middleground-mountains-1-container {
    z-index: -7;
    height: 105vw;
}

.middleground-mountains-2-container {
    z-index: -8;
    height: 85vw;
}

.background-mountains-1-container {
    z-index: -9;
    height: 83vw;
}

.background-mountains-2-container {
    z-index: -10;
    height: 73vw;
}

.foreground-mountains-1, .foreground-mountains-2, .middleground-mountains-1, .middleground-mountains-2, .background-mountains-1, .background-mountains-2 {
    z-index: -2;
    width: 47vw;
    height: auto;
    color: #32071C;
    position: absolute;
    will-change: transform;
}

.foreground-mountains-1 {
    z-index: -2;
}

.foreground-mountains-2 {
    z-index: -3;
}

.middleground-mountains-1 {
    z-index: -4;
}

.middleground-mountains-2 {
    z-index: -5;
}

.background-mountains-1 {
    z-index: -6;
}

.background-mountains-2 {
    z-index: -7;
}

.about-me-container {
    width: 100%;
    background: linear-gradient(to bottom, #32071C, #171e25);
    z-index: 200;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.topbar-container {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vw;
}

@keyframes arrow-opacity-filter {
    0% { opacity: 1; }
    100% { opacity: 0.5; }
}

.arrow-down-small {
    width: 2.5vw;
    height: 1.5vw;
    animation: arrow-opacity-filter 1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.header-text {
    color: rgb(255 184 184);
    font-family: Poppins;
    font-weight: 600;
    font-size: 45px;
    margin: 0;
    background: linear-gradient(180deg, rgb(255 184 184), rgb(244 135 135));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.about-me-text, .long-about-me-text, .regular-text, .header-cave-text, .cave-text, .website-link-text, .website-other-page-text {
    color: #f0b9bf;
    font-family: Poppins;
    font-weight: 400;
    font-size: 25px;
    margin: 0;
    z-index: 45;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.regular-text {
    margin-bottom: auto;
}

.header-cave-text {
    font-size: 48px;
    font-weight: 700;
    color: rgb(242 178 180);
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.cave-text {
    font-size: 26px;
    font-weight: 400;
    color: rgb(193 166 166);
    margin-top: -1vh;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.website-link-text {
    font-size: 15px;
    font-weight: 400;
    color: rgb(193 166 166);
    margin-top: -1vh;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.website-other-page-text {
    font-size: 15px;
    font-weight: 400;
    color: rgb(193 166 166);
    text-decoration: underline;
    margin-bottom: 25px;
}

/*


Hero content elements


*/


.hero-text-spacer {
    background: #32071C;
    width: 100%;
    height: 12vw;
    z-index: 38;
    position: relative;
    margin-top: -1px;
    margin-bottom: -1px;
}

.hero-text-container {
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.just-a-dev-label, .fullstack-game-label, .developer-label {
    margin-top: 0;
    margin-left: 0;
    font-family: Poppins;
    font-weight: 700;
    font-size: 8vw;
    margin-top: -4vw;
    margin-bottom: 0;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.just-a-dev-label {
    color: rgb(255 24 78);
}

.fullstack-game-label {
    color: rgb(236 60 116);
}

.developer-label {
    color: rgb(226 130 209);
}

/*


About me container and child elements


*/

.about-me-content {
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: -150px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.button-set-container {
    margin: 0;
    flex-direction: column;
    display: flex;
    flex: 0.5;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px;
}

.skill-set-button {
    border: #32103e;
    padding: 6px;
    margin-top: 10px;
    margin-left: 1px;
    margin-right: 1px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: #ffc0d9;
    background-color: #8c3c56;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.skill-set-button:hover {
    color: #ffc0d9ba;
    background-color: #8c3c5580;
}

.long-about-me-text {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 68px;
    margin-bottom: 50px;
    min-width: 260px;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.brief-about-me-content {
    flex: 0.85;
}

.long-about-me-content {
    flex: 2;
}

.skill-set-button-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
    margin-bottom: 100px;
}

.bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: auto;
    width: 100%;
    background: linear-gradient(to bottom, #32071C, #32071C);
}

.bottom-profile-section-split {
    max-width: 100%;
    width: 100%;
    height: auto;
    z-index: 35;
    position: relative;
    overflow: clip;
    margin: 0;
    padding: 0;
    display: block;
}

/*


Profile link elements


*/


.profile-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 32px;
    margin: 8px;
    padding: 10px;
    padding-left: 14px;
    padding-right: 14px;
    background-color: #4a2434;
    border-radius: 32px;
    transition: box-shadow 0.3s ease-in-out, background-color 0.15s ease-in-out;
}

.profile-container:hover {
    background-color: #6b3b4b;
}

.profile-image {
    width: 24px;
    height: auto;
}

.profile-link-text {
    color: white;
    font-weight: 500;
    font-family: Poppins;
    font-size: 18px;
    margin-left: 8px;
}